---
import BookLayout from "../../layouts/BookLayout.astro";
import { getCollection } from 'astro:content';
let frontmatter = {
    title: 'Proof of Existence',
    lastEdit: '2025-12-22'
}
const chapters = await getCollection('proofOfExistence');
chapters.sort((a, b) => a.data.chapter - b.data.chapter);

let arcSet = new Set();
chapters.map(c => arcSet.add(c.id.split("/").at(0)));

let arcToChapters = new Map();
let arcList = [];
arcSet.forEach(arc => {
    let arcChapters = chapters.filter(chapter => 
        chapter.id.includes(arc)
    );
    let formattedArc = arc.split("-"); 
    formattedArc = formattedArc[0] + ". " + formattedArc.slice(1).join(" ");
    arcToChapters.set(formattedArc, arcChapters);

    arcList.push(formattedArc);
});
arcList.sort();
---
<BookLayout frontmatter={frontmatter}>
    <blockquote><i>In my dreams, everything was burning. A voice was calling out for me.</i></blockquote>

    <p>Summoned forth as the intended sacrifice of a mysterious ritual, a young man finds himself in a new world with the face of his attempted killer, Acacius Duval, as well as a looming death curse if he doesn’t carry out Acacius’ last will. However, while Acacius has left many impending problems, he didn’t leave behind the most important piece: his memories. </p>

    <p>That would have been too convenient for navigating a world stitched together from apocalypses. </p>

    <p>Fortunately, after only a few life and death trials, Acacius’ unintentional replacement is sent away to the prestigious Nithemoore Academy, where he can learn everything he needs to know about the world and gain the power to grasp his freedom…</p>

    <p>At least, if the tracks of history don’t doom him first.</p>

    <div class="announcement">
        <p><b>Updates every Saturday.</b> If we hit the end of the last arc in the backlog, I will go on hiatus until the arc is complete, at which point I will resume my regular posting schedule.</p>
        <p><b>Want an extra chapter?</b> Donate to the latest <a href="https://kfsfinitiatives.carrd.co/">Gaza campaign by KFSF</a>
        with a comment! Every 10 donations or $100 raised, whichever comes first, I will post an extra chapter on Wednesday.</p>
    </div>

    <h2>Chapter Index</h2>
    <!-- <ol>
        { allPages.map((page) => 
            <li><a href={`/proof-of-existence/${page.data.chapter}/`}>{page.data.title}</a></li>
        )}
    </ol> -->

    { arcList.map(arc => 
        <details open={(arcList.indexOf(arc) === arcList.length - 1) ? "open" : undefined}>
            <summary>Arc {arc}</summary>
            <div class="detail-content">
                {arcToChapters.get(arc).map(ch => 
                    <span class="detail-chapter">
                        <strong>{ch.data.chapter}.</strong> 
                        <a href={`/proof-of-existence/${ch.data.chapter}/`}>{ch.data.title}</a>
                    </span>
                )}
            </div>
        </details>
    )}

    <h2>Supplemental Material</h2>
    <ul>
        <li><a href=`./character-appendix/`>Character Appendix</a></li>
        <li><a href=`./world-glossary/`>World Glossary</a></li>
        <li><a href=`./guide-to-lying/`>Jeong Eunseok's Guide to Lying Without Lying</a></li>
        <li><a href=`./record-of-existence/`>Jeong Eunseok's Record of Existence</a></li>
        <li><a href=`./acacius-records/`>Acacius' Records</a></li>
    </ul>

    <h2>Other</h2>
    <p>You can find the RSS feed for this webnovel <a href=`./poe-rss.xml`>here</a>. Feel free to drop a comment if you run into any issues.</p>
</BookLayout>
