---
import BaseLayout from "./BaseLayout.astro";
import '../styles/book.css';
import ReaderControls from "../components/ReaderControls.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BookFooter from "../components/BookFooter.astro";
const { frontmatter, postsize, collectionName, headingsName } = Astro.props;
const collection = collectionName ? collectionName : frontmatter.collectionName;
---
<BaseLayout pageTitle={frontmatter.title}>
    <Header collectionName={collection} headingsName={headingsName} />
    <ReaderControls />
    <script>
        import "../scripts/readerControls.js";
    </script>
    <div id="maincontent" class="container">
        { frontmatter.chapter != null && frontmatter.chapter > 0 && <div class="chapter-number">{frontmatter.chapter < 10 && '0'}{frontmatter.chapter}.</div> }
        <h1 class="chapter-title">{frontmatter.title}</h1>
        <div class="chapter-heading-end"></div>
        <div id="book-content">
            <slot />
        </div>
        <script is:inline>
            // make header sticky instead of fixed?
            // add 'pre' formatting for system announcements?
            // fix reader control page view transition
            import "../scripts/readerControls.js";
        </script>

        <BookFooter frontmatter={frontmatter} chapter={frontmatter.chapter} size={postsize} indexonly=false />
    </div>
    <Footer />
    <script is:inline>
        function setReaderSettings(document) {
            let settings = ['--reader-font-family', '--reader-line-height', '--reader-font-size'];
            let bookContent = document.getElementById('book-content');
            settings.forEach((s) => bookContent.style.setProperty(s, localStorage.getItem(s)));
            // let theme = localStorage.darkMode ? "dark" : "light";
            // document.documentElement.dataset.theme = theme;
        }

        setReaderSettings(document);

        document.addEventListener("astro:before-swap", (event) => {
            // Pass the incoming document to set the theme on it
            setReaderSettings(event.newDocument);
        });
    </script>
</BaseLayout>